/* https://www.freepik.com/free-vector/abstract-line-hexagon-geometric-texture_6051829.htm?query=website%20background#from_view=detail_alsolike
Image by Harryarts on Freepik */

@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: #363538;
    --secondary-color: #8d8c8a;
    --tertiary-color: #f6f6f6;
    --quaternary-color: #408694;
    --quinary-color: #4D516D;
}

.App {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--quaternary-color);
  
}

p {
    color: var(--primary-color);
}

h1 {
    color: var(--quinary-color);
    font-family: 'Chela One', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--tertiary-color);
    font-family: 'Chela One', sans-serif;
}

.abcontainer {
    margin-left: 30px;
}

.abcontainer img {
    width: 150px; 
    height: 150px;
  }

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Header Settings */
.header-container {
    background-image: url('./abstract.avif');
    padding: 50px; 
}

/* Footer Settings */
.logos {
    display: flex;
    justify-content: space-between;
  }

.logos ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}
  
  .logos .logo {
    margin-right: 20px;
}

.FooterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

 




